<!--<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ToolBar</span>

    <span class="example-spacer"></span>
    <button mat-button>Home</button>
    <button mat-button>About</button>
        <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>-->


<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Way to learn New Technology?">
  </mat-form-field>

  <br>
  
  <button mat-raised-button (click)="showAnswer()">Answer me</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>


<mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }} : Right Answer ,you are awesome </h1>
</mat-card>
<p>
  <button mat-button><a href="" (click)="sendMeHome()"><strong>Take me Home</strong></a>.</button>
</p>
<!--Section heading-->
<section class="section feature-box">
        <h1 class="section-heading pt-5">How to Upgrade skills </h1>
        <!--Section description-->
        <p class="section-description lead grey-text"></p>
    
        <!--Grid row-->
        <div class="row features-small pt-5">
    
            <!--Grid column-->
            <div class="col-lg-5 mb-r center-on-small-only">
                <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-7">
    
                <!--Grid row-->
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-bank white-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Tracker</h5>
                        <p class="White">Place where we can track all competenancy details</p>
                    </div>
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-code white-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Technology</h5>
                        <p class="White">Where we can get all latest technology details</p>
                    </div>
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-money white-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Tools</h5>
                        <p class="White">Place Holder for tools</p>
                    </div>
                </div>
                <!--Grid row-->
    
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Features v.3-->

<!--<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

 </div>-->